<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>
              Title
            </th>
            <th>
              Description
            </th>
            <th>
              Actors
            </th>
            <th>
              Edit
            </th>
            <th>
              Add Actor
            </th>
            <th>
              Delete
            </th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movies %}
          <tr>
            <td>
              {{movie.title}}
            </td>
            <td>
              {{movie.description}}
            </td>
            <td>
              {% for actor in movie.actors.all %}
                <a href="actor/{{actor.id}}">{{actor.name}}</a>, 
              {% endfor %}
            </td>
            <td>
              <a href="edit_movie/{{movie.id}}">Edit</a>
            </td>
            <td>
              <a href="add_actor/{{movie.id}}">Add Actor</a>
            </td>
            <td>
              <a href="delete_movie/{{movie.id}}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>New Movie</h2>
      <form action="/create_movie" method="POST">
        {% csrf_token %}
        Title:
        <input type="text" name="title" class="form-control"/>
        Description:
        <input type="text" name="description" class="form-control"/>
        <input type="submit" value="Create Movie" class="btn btn-primary"/>
      </form>
    </div>
  </body>
</html>
